<div id="page_content" ng-init="initFunction()">
    <form name="form_createLocation" id="form_createLocation"
          class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <div class="heading_actions action-padding-top">
                <div data-uk-dropdown="{mode:'click'}">
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a ng-click="deleteRouteById()" data-translate="route.headerPage.delete">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a ui-sref="products" class="uk-text-large" data-translate="route.titlePage.home"></a>
            <span> / </span><a ui-sref="products" class="uk-text-large" data-translate="route.titlePage.configuration "></a>
            <span> / </span><a ui-sref="products" class="uk-text-large" data-translate="route.titlePage.warehouseMan "></a>
            <span> / </span><a ui-sref="warehouses" class="uk-text-large" data-translate="route.titlePage.warehouse"></a>
            <span> / </span><a ui-sref="routes" class="uk-text-large" data-translate="route.titlePage.route"></a>
            <span class="uk-text-large"> / {{routeModel.name}}</span>
            </br>
            <div class="btn-custom-action-group">
                <a ui-sref="routes-edit({routeId: routeModel.id })" class="md-btn  md-btn-small" ><span class="uk-text-bold">{{button.edit|translate}}</span></a>
                <a ui-sref="routes-create" class="md-btn md-btn-primary  md-btn-small"><span class="uk-text-bold">{{button.create|translate}}</span></a>
            </div>
        </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <div class="md-card" id="route_create">
                <div class="md-card-content">
                    <div class="uk-grid " data-uk-grid-margin>
                        <div class="uk-width-small-1-1 ">
                            <div  class="md-btn-group float-right">
                                <activate model="routeModel"
                                          activate-service="RouteService.activate"
                                          deactivate-service="RouteService.deactivate"
                                ></activate>
                            </div>
                        </div>
                    </div>

                    <!--NEW ROUTE NAME-->
                    <div class="uk-grid" style="margin-top: 0px !important;">
                        <div class="uk-width-small-1-2 uk-row-first">
                            <div class="parsley-row">
                                <div><label class="label-bold" for="sname" data-translate="route.detail.routeName"><span class="req">*</span></label>
                                    <input readonly data-parsley-required-message={{required_msg}} ng-model="routeModel.name" id="sname" type="text" name="sname" data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar "></span></div>
                            </div>
                        </div>
                    </div>

                    <!--APPLICATION ON-->
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
                                <li class="uk-active"><a class="custom-tab" href="#" data-translate="route.detail.applicationOn"></a></li>
                            </ul>
                            <br>
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-small-1-2 uk-row-first">
                                    <p class="custom-disabled">
                                        <input
                                               type="checkbox" name="checkbox_demo_1"
                                               id="checkbox_demo_4"
                                               icheck ng-model="routeModel.warehouseEnabled"/>
                                        <label class="inline-label label-bold" data-translate="route.detail.applicationOnWarehouses"></label>
                                        <div>
                                            <span ng-repeat="item in routeModel.warehouses track by $index" class="custom-tag">
                                                {{item.name}}
                                            </span>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--PUSH RULES-->
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1">
                            <ul class="uk-tab">
                                <li class="uk-active"><a class="custom-tab" data-translate="route.detail.pushRules"></a></li>
                            </ul>
                            <br>
                            <div class="uk-overflow-container uk-margin-bottom"  id="table-container1">
                                <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter1">
                                    <thead>
                                    <tr>
                                        <th class="pointerMouse label-bold" data-translate="route.detail.pushRulesSourceLocation"></th>
                                        <th class="pointerMouse label-bold" data-translate="route.detail.pushRulesDestinationLocation"></th>
                                        <th class="pointerMouse label-bold" data-translate="route.detail.pushRulesOperationType"></th>
                                        <th class="pointerMouse label-bold custom-column-large" data-translate="route.detail.pushRulesOperationName"></th>
                                        <th class="pointerMouse label-bold" style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in routeModel.pushRules">
                                        <td>{{item.srcLocation.name}}</td>
                                        <td>{{item.destLocation.name}}</td>
                                        <td>{{item.operationType.name}}</td>
                                        <td class="custom-long-text" title="{{item.name}}">{{item.name}}</td>
                                        <td>
                                            <a data-uk-modal="{target:'#modal_new_push_rule'}" ng-click="viewPushRule($index)"><i class="md-icon material-icons">&#xE88E;</i></a>
                                            <!--<a ng-click=removePushRuleInTable($index)><i class="md-icon material-icons">&#xE872;</i></a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--PROCUREMENT RULES-->
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1">
                            <ul class="uk-tab">
                                <li class="uk-active"><a class="custom-tab" data-translate="route.detail.procurementRules"></a></li>
                            </ul>
                            <br>
                            <div class="uk-overflow-container uk-margin-bottom"  id="table-container2">
                                <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter2">
                                    <thead>
                                    <tr>
                                        <th class="pointerMouse label-bold" data-translate="route.procurementRule.name"></th>
                                        <th class="pointerMouse label-bold" data-translate="route.procurementRule.action"></th>
                                        <th class="pointerMouse label-bold" data-translate="route.procurementRule.operationType"></th>
                                        <th class="pointerMouse label-bold" style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in routeModel.procurementRules">
                                        <td class="custom-long-text" title="{{item.name}}">{{item.name}}</td>
                                        <td>{{item.action.name}}</td>
                                        <td>{{item.operationType.name}}</td>
                                        <td>
                                            <a data-uk-modal="{target:'#modal_new_procurement_rule'}" ng-click="viewProcurementRule($index)"><i class="md-icon material-icons">&#xE88E;</i></a>
                                            <!--<a ng-click=removeProcurementRuleInTable($index)><i class="md-icon material-icons">&#xE872;</i></a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<!--MODAL VIEW DETAIL PUSH RULE-->
<div class="uk-modal" id="modal_new_push_rule">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <h2 data-translate="route.pushRule.pushRule"></h2>
        <hr>

        <form name="form_createLocation" id="formCreateRule"
              class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
            <div style="margin-bottom: 25px; !important;">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-2 uk-row-first">
                        <div class="parsley-row">
                            <div><label class="label-bold" for="pushRuleName" data-translate="route.pushRule.operationName"><span class="req">*</span></label>
                                <input readonly data-parsley-required-message={{required_msg}} ng-model="newPushRule.name" id="pushRuleName" type="text" name="pushRuleName" data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div  class="md-btn-group float-right">
                            <activate model="newPushRule"
                                      activate-service="PushRuleService.activate"
                                      deactivate-service="PushRuleService.deactivate"
                            ></activate>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="" style="margin-bottom: -25px">
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label class="uk-form-label label-bold" data-translate="route.pushRule.locations"></label>
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label class="uk-form-label label-bold" data-translate="route.pushRule.details"></label>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.pushRule.sourceLocation"><span class="req">*</span></label>
                                <input readonly ng-model="newPushRule.srcLocation.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.pushRule.automaticMove"><span class="req">*</span></label>
                                <input readonly value={{newPushRule.automatic}} type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.pushRule.destinationLocation"><span class="req">*</span></label>
                                <input readonly ng-model="newPushRule.destLocation.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.pushRule.operationType"><span class="req">*</span></label>
                                <input readonly ng-model="newPushRule.operationType.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--MODAL VIEW DETAIL PROCUREMENT RULE-->
<div class="uk-modal" id="modal_new_procurement_rule">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <h2 data-translate="route.procurementRule.procurementRule"></h2>
        <hr>

        <form name="form_createLocation" id="formCreateProcurementRule"
              class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
            <div style="margin-bottom: 25px; !important;">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-2 uk-row-first">
                        <div class="parsley-row">
                            <div><label class="label-bold" for="pushRuleName" data-translate="route.procurementRule.name"><span class="req">*</span></label>
                                <input readonly data-parsley-required-message={{required_msg}} ng-model="newProcurementRule.name" type="text" name="pushRuleName" data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div  class="md-btn-group float-right">
                            <activate model="newProcurementRule"
                                      activate-service="ProcurementRuleService.activate"
                                      deactivate-service="ProcurementRuleService.deactivate"
                            ></activate>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.procurementRule.action"><span class="req">*</span></label>
                                <input readonly ng-model="newProcurementRule.action.name" name="sourceLocation" type="text" class="md-input ng-isolate-scope md-input-processed" md-input=""/>
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="" style="margin-bottom: -25px">
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label class="uk-form-label label-bold" data-translate="route.procurementRule.applicationOn"></label>
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label class="uk-form-label label-bold" data-translate="route.procurementRule.create"></label>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.procurementRule.procurementLocation"><span class="req">*</span></label>
                                <input readonly ng-model="newProcurementRule.procurementLocation.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.pushRule.operationType"><span class="req">*</span></label>
                                <input readonly ng-model="newProcurementRule.operationType.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="" ng-show="newProcurementRule.action.id==0||newProcurementRule.action.id==1">
                    <div class="uk-width-large-1-2">
                        <label class="label-bold"></label>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.procurementRule.sourceLocation"><span class="req">*</span></label>
                                <input readonly ng-model="newProcurementRule.sourceLocation.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="" ng-show="newProcurementRule.action.id==0">
                    <div class="uk-width-large-1-2">
                        <label class="label-bold"></label>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="parsley-row">
                            <div><label class="label-bold" data-translate="route.procurementRule.moveSupplyMethod"><span class="req">*</span></label>
                                <input readonly ng-model="newProcurementRule.moveSupplyMethod.name" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>