<div id="page_content">
    <form name="form_createuser" id="form_createuser" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <div class="heading_actions action-padding-top">
                <!--<a href="javascript:void(0)" data-uk-tooltip="{pos:'bottom'}" title="Print"><i class="md-icon material-icons">&#xE8AD;</i></a>
                <div data-uk-dropdown="{mode:'click'}">
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a class="disableMouse" href="javascript:void(0)">Import</a></li>
                            <li><a class="disableMouse" href="javascript:void(0)">Export list</a></li>
                        </ul>
                    </div>
                </div>-->
            </div>
            <span class="route-header">
                <a ui-sref="users">{{titlePage.home | translate}}</a>
                <span> / </span><a ui-sref="users">{{titlePage.setting | translate}}</a>
                <span> / </span><a ui-sref="users">{{titlePage.user_permision | translate}}</a>
                <span> / </span><a ui-sref="users">{{pageTitle | translate}}</a>
                <span> / {{button.new | translate}}</span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <button ng-click="submit()" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold">{{button.save|translate}}</span></button>
                <a ui-sref="users" class="md-btn md-btn-small"><span
                        class="uk-text-bold"> {{button.cancel|translate}}</span></a>
            </div>
        </div>
        <div id="page_content_inner">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1">
                    <jhi-alert></jhi-alert>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div id="activateBtn" class="md-btn-group float-right">
                                <a
                                        class="fixed-size md-btn md-btn-small md-btn-wave-light md-btn-icon md-bg-grey-100"
                                        href="javascript:void(0)">
                                    <div style="float:left;display:inline-block;">
                                        <i class="uk-icon-archive uk-icon-medium icon-padding-top"></i>
                                    </div>
                                    <div style="margin-left:30px;">
                                        <p class="line-big text-padding-top uk-text-bold">
                                            <br/>
                                            <span id="activeBtn" ng-class="activeClass">{{status}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-2-10">
                                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img ng-src="assets/img/avatars/user.png" alt="user avatar"/>
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div class="user_avatar_controls">
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                            <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                        </span>
                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-4-10">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="firstName">{{detail.FirstName|translate}}</label>
                                                <input ng-model="user.firstName" data-parsley-whitespace="trim" id="firstName" type="text" name="firstName" data-parsley-trigger="change"  class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="lastname">{{detail.LastName|translate}}</label>
                                                <input  ng-model="user.lastName" data-parsley-whitespace="trim" id="lastName" type="text" name="lastName" data-parsley-trigger="change"  class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="password">{{detail.Password|translate}}<span class="req"> *</span></label>
                                                <input data-parsley-required-message={{required_msg}}
                                                       data-parsley-equalto-message={{confirmPassword_msg}}
                                                       data-parsley-minlength-message={{passwordPattern}}
                                                       data-parsley-minlength="6" ng-model="user.password" type="password" name="password" id="password" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>

                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold">{{detail.ConfirmPassword|translate}}</label>
                                                <input data-parsley-required-message={{required_msg}}
                                                       data-parsley-equalto-message={{confirmPassword_msg}}
                                                       data-parsley-minlength-message={{passwordPattern}}
                                                       data-parsley-minlength="6"
                                                       data-parsley-equalto="#password" ng-model="user.confirm_password" type="password" name="confirm_password" id="confirm_password" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-4-10">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="email">{{detail.Email|translate}}<span class="req"> *</span></label>
                                                <input data-parsley-type-message={{email_msg}} data-parsley-whitespace="trim" data-parsley-required-message={{required_msg}} ng-model="user.email" id="email" type="email" name="email" data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="address">{{detail.Address|translate}}</label>
                                                <input id="address" ng-model="user.address" data-parsley-whitespace="trim" type="text" name="address" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="phone">{{detail.Phone|translate}}</label>
                                                <input id="phone" ng-model="user.phone" data-parsley-whitespace="trim" type="text" name="phone" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="parsley-row">
                                                <label class="label-bold" for="position">{{detail.Position|translate}}</label>
                                                <input id="position" ng-model="user.positions" data-parsley-whitespace="trim" type="text" name="position" type="text" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                                <span class="md-input-bar "></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-1 uk-row-first">
                                    <div>
                                        <label class="uk-form-label label-bold">{{detail.Roles|translate}}</label>
                                        <selectize id="selec_adv_1" config="selectize_roles_config" options="selectize_roles_options" position="bottom" ng-model="forms_advanced.selectize_roles"></selectize>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="uk-width-medium-1-3">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row uk-text-center">
                                    <input type="checkbox" checked id="user_edit_active" ui-switch ng-model="user.active" />
                                    <label for="user_edit_active" class="inline-label">User Active</label>
                                </div>
                            </div>
                            <hr class="md-hr">
                            <div class="uk-form-row">
                                <label class="uk-form-label">User Role</label>
                                <selectize id="selec_adv_1" config="selectize_roles_config" options="selectize_roles_options" position="bottom" ng-model="forms_advanced.selectize_roles"></selectize>
                            </div>

                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </form>
</div>