<div id="page_content">
    <form name="form_create_scrap_transfer" id="form_create_scrap_transfer" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <div class="heading_actions action-padding-top">
            </div>
            <div class="heading_actions action-padding-top">
                <div data-uk-dropdown="{mode:'click'}">
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a href="javascript:void(0)" ng-click="deleteTransfer()">{{button.delete|translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class=" route-header">
                <a disabled="" ui-sref="#">Home</a>
            <span> / <a ui-sref="#" >Configuration</a></span>
            <span> / <a ui-sref="#"> Tra cứu thông tin Blacklist</a></span>
            </span>
            </br>
        </div>
        <div id="page_content_inner">
            <div class="md-card" id="transfer_detail">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-margin-top">
                            <div class="parsley-row">
                                <label class="label-bold">Số điện thoại</label>
                                <input ng-model="TABLES['table_op_tab'].param_filter_list[0]"
                                       ng-change="handleFilter('table_op_tab')"
                                       type="text"
                                       placeholder="8490xxx"
                                       data-parsley-trigger="change" required=""
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2 uk-margin-top">
                            <div class="parsley-row" style="padding-top: 30px;">
                                <button class="md-btn md-btn-primary" type="submit" ng-click="addBlacklist(TABLES['table_op_tab'].param_filter_list[0])" wz-next>Add Blacklist</button>
                                <button class="md-btn md-btn-warning" type="submit" ng-click="exportBlacklist()" wz-next>Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="page_content_inner_2" class="custom-inner-2nd uk-margin-bottom" style="margin-top: -70px;">
        <div class="md-card" id="create_operation">
            <div class="md-card-content">
                <div class="uk-overflow-container uk-margin-bottom" id="table-container">
                    <table class="hoverTable uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair"
                           id="table_op_tab" style="margin-bottom: -5px;">
                        <thead>
                            <tr>
                                <th data-name="Select" data-priority="0">
                                    <!--<input type="checkbox" class="ts_checkbox_all">-->
                                </th>
                                <th class="pointerMouse boldHeader "
                                    data-priority="1" ng-show="myColumnsShowRd[0]">{{myColumnsRd[0]}}
                                    <!--<i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[1]}}</i>-->
                                </th>
                                <th class="pointerMouse boldHeader "
                                    data-priority="2" ng-show="myColumnsShowRd[1]">{{myColumnsRd[1]}}
                                    <!--<i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[2]}}</i>-->
                                </th>
                                <th class="pointerMouse boldHeader "
                                    data-priority="3" ng-show="myColumnsShowRd[2]">{{myColumnsRd[2]}}
                                    <!--<i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[3]}}</i>-->
                                </th>
                            </tr>

                        </thead>

                        <tbody>
                        <tr ng-repeat="item in list_op_item" on-last-repeat class="hoverRow">
                            <td></td>
                            <td ng-show="myColumnsShowRd[0]">
                                {{item.msisdn}}
                            </td>
                            <td class="uk-text-left" ng-show="myColumnsShowRd[1]">
                                {{item.cmd_code}}
                            </td>
                            <td class="uk-text-left" ng-show="myColumnsShowRd[2]">
                                <a ng-click="deleteBlacklist(item.msisdn)" class="uk-icon-justify uk-icon-trash-o uk-text-primary uk-icon-medium"></a>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <!--pagination-->

                </div>

                <div class="ts_pager" id="table_op_tab_pager">
                    <ul class="uk-pagination ts_pager">
                        <li ng-click="selectPageClickHandle()" data-uk-tooltip title="{{selectPage}}">
                            <input ng-change="selectPageHandle('table_op_tab')" id="rd_selectize_page" type="text"
                                   config="TABLES['table_op_tab'].selectize_page_config" options="TABLES['table_op_tab'].selectize_page_options"
                                   ng-model="TABLES['table_op_tab'].selectize_page" name="TABLES['table_op_tab'].selectize_page" selectize>
                        </li>
                        <li><a href="javascript:void(0)" class="firstPage" ng-click="handleFirstPage('table_op_tab')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li><a href="javascript:void(0)" class="prevPage" ng-click="handlePreviousPage('table_op_tab')"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pageDisplay">1-20/50</span></li>
                        <li><a href="javascript:void(0)" class="nextPage" ng-click="handleNextPage('table_op_tab')"><i class="uk-icon-angle-right"></i></a></li>
                        <li><a href="javascript:void(0)" class="lastPage"ng-click="handleLastPage('table_op_tab')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="{{pageSize}}">
                            <input ng-change="selectPageNumHandle('table_op_tab')" id="rd_selectize_pageNum" type="text"
                                   config="TABLES['table_op_tab'].selectize_pageNum_config" options="TABLES['table_op_tab'].selectize_pageNum_options"
                                   ng-model="TABLES['table_op_tab'].selectize_pageNum" name="TABLES['table_op_tab'].selectize_pageNum" selectize>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>