<div id="page_content">
    <!--<form name="form_create_warehouse" id="form_create_warehouse" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">-->
    <div id="page_heading" data-uk-sticky="{ top: 30, media: 960 }" class="custom-heading">
        <div class="heading_actions action-padding-top">
            <div data-uk-dropdown="{mode:'click'}">
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        <li><a href="javascript:void(0)" ng-click="deleteTransfer()">{{button.delete|translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <span class=" route-header"><a disabled="" ui-sref="#" data-translate="masterdata.common.Inventory"></a>
            <span> / </span><a data-translate="masterdata.common.operations"></a>
            <span> / </span><a ui-sref="transfers" data-translate="masterdata.common.transfers"></a>
            <span> / </span><span>{{transfer.transferNumber}}</span>
        </span>
        </br>
        <div class="btn-custom-action-group">
            <button id="buttonEditTransfer" ng-click="clickEditButton()" type="submit" class="md-btn md-btn-primary md-btn-small" ng-disabled="validateShowEditButton()"><span class="uk-text-bold" data-translate="common-ui-element.button.Edit"></span></button>
            <a ui-sref="transfers-create" class="md-btn md-btn-small"><span class="uk-text-bold" data-translate="masterdata.button.Create"></span></a>
        </div>

    </div>

        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <div class="md-card" id="transfer_detail">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-5 uk-vertical-align">
                            <div class="btn-custom-action-group">
                                <button id="buttonCheckAvailability" ng-disabled="validateCheckAvailabilityButton()" ng-show="status != 'cancelled' && status != 'done' && scrLocationType !='vendor' && !isReserved" href="javascript:void(0)" class="md-btn md-btn-primary md-btn-small" ng-click="checkAvailability()"><span class="uk-text-bold" data-translate="transfer.button.checkAvailability"></span></button>
                                <a ng-show="status != 'cancelled' && status != 'done' && scrLocationType !='vendor' && isReserved" href="javascript:void(0)" class="md-btn md-btn-small" ng-click="unReserve()"><span class="uk-text-bold" data-translate="transfer.button.unReserve"></span></a>
                                <a ng-show="status != 'cancelled' && status != 'done'" href="javascript:void(0)" class="md-btn md-btn-primary md-btn-small" ng-click="validateTransfer()"><span class="uk-text-bold" data-translate="transfer.button.Validate"></span></a>
                                <a ng-show="status != 'cancelled' && status != 'done'" ng-click="cancelTransfer()" class="md-btn md-btn-small"><span class="uk-text-bold" data-translate="common-ui-element.button.Cancel"> </span></a>

                                <button ng-show="status == 'done'"  class="md-btn md-btn-primary md-btn-small"  ng-click="handleReturn()"><span class="uk-text-bold" data-translate="transfer.button.Return"></span></button>

                                <a ng-show="status == 'done'" data-uk-modal="{target:'#scrap_package_modal'}" class="md-btn md-btn-primary md-btn-small"><span class="uk-text-bold" data-translate="transfer.button.Scrap"></span></a>

                                <!--<a ng-show="status != 'done'"  class="md-btn md-btn-small"><span class="uk-text-bold" data-translate="common-ui-element.button.Cancel"> </span></a>-->

                            </div>
                        </div>
                        <div class="uk-width-medium-3-5">
                            <div class="wizard" style="text-align: right;padding-top: 4px;">
                                <a class="current" ng-show="status == 'draft'"><span class="badge"></span>DRAFT</a>
                                <a ng-show="status != 'draft'"><span class="badge"></span>DRAFT</a>

                                <a class="current"  ng-show="status == 'waiting_other'"> <span class="badge badge-inverse"></span> WAITING OTHER</a>
                                <a ng-show="status != 'waiting_other' "><span class="badge badge-inverse"></span> WAITING OTHER</a>

                                <a class="current"  ng-show="status == 'waiting'"> <span class="badge badge-inverse"></span> WAITING </a>
                                <a ng-show="status != 'waiting'"><span class="badge badge-inverse"></span> WAITING</a>

                                <a class="current"  ng-show="status == 'ready'"> <span class="badge"></span>READY </a>
                                <a ng-show="status != 'ready'"><span class="badge"></span>READY</a>

                                <a class="current"  ng-show="status == 'done'"><span class="badge"></span>DONE</a>
                                <a ng-show="status != 'done'"><span class="badge"></span>DONE</a>

                                <a class="current" ng-show="status == 'cancelled'"><span class="badge"></span>CANCELLED </a>
                                <!--<a ng-show="status != 'cancelled'"><span class="badge"></span>CANCELLED </a>-->
                            </div>

                        </div>
                    </div>

                    <hr/>

                    <div class="uk-grid" data-uk-grid-margin>
                        <!-- Operation Type -->

                        <div class="uk-width-medium-1-2">
                            <h2>{{transfer.transferNumber}}</h2>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="info_detail" class="md-btn-group uk-float-right"  ng-show="status == 'done'">
                                <!--<a class="md-btn md-btn-small md-btn-wave-light md-btn-icon md-bg-grey-100" ui-sref="manufacturers.sub_detail({id:id})">-->
                                    <a  ui-sref="scraps({transferId: transfer.id})"  class="md-btn md-btn-wave-light md-btn-icon md-bg-grey-100" >
                                        <div style="float:left;display:inline-block;padding-top: 5px;">
                                            <!--<i class="uk-icon-ship "></i>-->
                                            <i class="uk-icon-arrows-v  uk-icon-medium"></i>
                                        </div>
                                        <div style="margin-left:10px;padding-top:10px;">
                                            <p class="line-big uk-text-bold" style="padding-top: 3px;" data-translate="transfer.button.Scraps">

                                            </p>

                                        </div>
                                    </a>
                                <a class="md-btn md-btn-wave-light md-btn-icon md-bg-grey-100">
                                    <div style="float:left;display:inline-block;padding-top: 5px;">
                                        <!--<i class="uk-icon-ship "></i>-->
                                        <i class="uk-icon-cubes md-40 uk-icon-medium"></i>
                                    </div>
                                    <div style="margin-left:30px;padding-top:10px;">
                                        <p class="line-big uk-text-bold" style="padding-top: 3px;" data-translate="transfer.button.Packages">

                                        </p>

                                    </div>
                                </a>
                                <a class="md-btn md-btn-wave-light md-btn-icon md-bg-grey-100" >
                                    <div style="float:left;display:inline-block;padding-top: 5px;">
                                        <!--<i class="uk-icon-ship "></i>-->
                                        <i class="uk-icon-long-arrow-up md-40 uk-icon-medium"></i>
                                    </div>
                                    <div style="margin-left:15px;padding-top:10px;">
                                        <p class="line-big uk-text-bold" style="padding-top: 3px;" data-translate="transfer.button.Up_down">
                                        </p>

                                    </div>
                                </a>

                            </div>
                        </div>

                            <div class="uk-width-medium-1-6" style="margin-top: 0px !important;">
                                <div class="label-bold" style="padding-top: 20px"  data-translate="transfer.column.OperationType"></div>
                                <div class="label-bold" style="padding-top: 20px" data-translate="transfer.column.Partner"></div>
                                <div class="label-bold" style="padding-top: 20px" data-translate="transfer.column.SourceLocation"></div>
                                <div class="label-bold" style="padding-top: 20px" style="padding-top: 20px"style="padding-top: 20px"style="padding-top: 20px"data-translate="transfer.column.DestinationLocation"></div>
                                <div class="label-bold" style="padding-top: 20px" ng-show="operationTypeTransfer.type == 'manufacturing' " style="padding-top: 20px"style="padding-top: 20px"style="padding-top: 20px"data-translate="transfer.column.totalQuantity"></div>
                                <div class="label-bold" style="padding-top: 20px" ng-show="operationTypeTransfer.type == 'manufacturing' " style="padding-top: 20px"style="padding-top: 20px"style="padding-top: 20px"data-translate="transfer.column.currentDemand"></div>
                            </div>

                            <div class="uk-width-medium-2-6" style="margin-top: 0px !important;">
                                <hyperlink-attr-by-id inputid="operationType" url="urlLocName" keyvalue="transfer.operationTypeId" attr="attrDisplayName" hyperlink="urlSourceLink"></hyperlink-attr-by-id>
                                <input-attr-by-id inputid="partner" url="urlGetPartner" keyvalue="transfer.partnerId" attr="attrName"></input-attr-by-id>
                                <input-attr-by-id inputid="scrLocationId" url="urlGetLocation" keyvalue="transfer.srcLocationId" attr="attrDisplayName"></input-attr-by-id>
                                <input-attr-by-id inputid="destLocationId" url="urlGetLocation" keyvalue="transfer.destLocationId" attr="attrDisplayName"></input-attr-by-id>
                                <div ng-show="operationTypeTransfer.type == 'manufacturing' ">
                                    <input readonly ng-model="transfer.productionQuantity" id="productionQuantity" type="number" name="sourceDocument"
                                           data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                </div>
                                <div ng-show="operationTypeTransfer.type == 'manufacturing' ">
                                    <input readonly ng-model="transfer.currentDemand" id="currentDemand" type="number"
                                           ng-class="{custom_text_red: transfer.currentDemand > transfer.capacity, custom_text_green: transfer.currentDemand <= transfer.capacity}"
                                            data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                </div>
                            </div>

                            <div class="uk-width-medium-1-6" style="margin-top: 0px !important;">
                                <div class="label-bold" style="padding-top: 20px"  data-translate="transfer.column.Owner"></div>
                                <div class="label-bold" style="padding-top: 20px" data-translate="transfer.column.ScheduleDate"></div>
                                <div class="label-bold" style="padding-top: 20px" data-translate="transfer.column.SourceDocument"></div>
                                <div class="label-bold" style="padding-top: 20px" data-translate="transfer.column.Assignee"></div>
                                <div ng-show="operationTypeTransfer.type == 'manufacturing'" class="label-bold" style="padding-top: 20px" data-translate="transfer.column.capacity"></div>
                            </div>

                            <div class="uk-width-medium-2-6" style="margin-top: 0px !important;">
                                <hyperlink-attr-by-id  inputid="ownerId" url="urlOwnerName" keyvalue="transfer.ownerId" attr="attrName" hyperlink="urlOwnerLink"></hyperlink-attr-by-id>
                                <div class="custom-opr"><span>{{transfer.scheduledDate|date: 'dd/MM/yyyy HH:mm:ss'}}</span><span>&nbsp;</span></div>
                                <div><input readonly ng-model="transfer.sourceDocument" id="sourceDocument" type="text" name="sourceDocument" data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input=""></div>
                                <div><input-attr-by-id inputid="assignee" url="urlGetUser" keyvalue="transfer.assigneeId" attr="attrUser"></input-attr-by-id></div>
                                <div ng-show="operationTypeTransfer.type == 'manufacturing' ">
                                    <input readonly ng-model="transfer.capacity" id="capacity" type="number" name="sourceDocument"
                                           ng-class="{custom_text_red: transfer.currentDemand > transfer.capacity, custom_text_green: transfer.currentDemand <= transfer.capacity}"
                                           data-parsley-trigger="change" required="" class="md-input ng-isolate-scope md-input-processed" md-input="">
                                </div>
                            </div>

                    </div>

                    <!-- TABS-->
                        <div class=" uk-margin-bottom" id="table-container" style="margin-top: 10px;">
                            <div ng-style="fullsizeDetail">
                                <div class="uk-width-1-1">
                                    <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim1'}">
                                        <li class="uk-active" ng-click="clickTab(1)"><a href="#"><h4 class="heading_a" data-translate="transfer.common.Operation"></h4></a></li>
                                        <li  ng-click="clickTab(2)"><a href="#"><h4 class="heading_a" data-translate="transfer.common.OperationDetail"></h4></a></li>
                                        <li><a href="#"><h4 class="heading_a" data-translate="transfer.common.additionInfo"></h4></a></li>
                                    </ul>
                                    <ul id="tabs_anim1" class="uk-switcher uk-margin">
                                        <!-- Operation Tab -->
                                        <li>
                                            <!--<div ng-include src="'app/inventory/transfer/operation_tab.html'"></div>-->
                                            <div ng-include src="'app/inventory/transfer/table-sorter/operation_tab.html'"></div>
                                        </li>
                                        <!-- End of Operation Tab -->

                                        <!-- Detail Operation Tab -->
                                        <li>
                                            <!--<div ng-include src="'app/inventory/transfer/operation_detail_tab.html'"></div>-->
                                            <div ng-include src="'app/inventory/transfer/table-sorter/operation_detail_tab.html'"></div>
                                        </li>

                                        <li>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-6 uk-margin-top">
                                                    <div class="label-bold" style="padding-top: 20px"  data-translate="transfer.column.Project"></div>
                                                    <div class="label-bold" style="padding-top: 20px" ng-show="operationTypeTransfer.type == 'manufacturing' " data-translate="transfer.column.otherProject"></div>
                                                </div>

                                                <div class="uk-width-medium-2-6 uk-margin-top">
                                                    <hyperlink-attr-by-id inputid="project" url="urlProductVersion" keyvalue="transfer.productVersionId" attr="attrName" hyperlink="urlSourceLinkProduct"></hyperlink-attr-by-id>
                                                    <span ng-repeat="iOther in transfer.otherProjects" ng-show="operationTypeTransfer.type == 'manufacturing' ">
                                                        <hyperlink-attr-by-id inputid="project" url="urlProductVersion" keyvalue="iOther" attr="attrName" hyperlink="urlSourceLinkProduct"></hyperlink-attr-by-id>
                                                    </span>
                                                </div>
                                                <div class="uk-width-medium-1-6 uk-margin-top">
                                                    <div class="label-bold" style="padding-top: 20px"  data-translate="transfer.column.Priority"></div>
                                                </div>

                                                <div class="uk-width-medium-2-6 uk-margin-top">
                                                    <div class="custom-opr">{{transfer.priority}}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!--<div class="ts_pager" id="table_op_tab_pager" ng-show="checkShow == 1 && list_op_item.length > 0">
                            <ul class="uk-pagination ts_pager">
                                <li ng-click="selectPageClickHandle()" data-uk-tooltip title="{{selectPage}}">
                                    <input ng-change="selectPageHandle('table_op_tab')" id="rd_selectize_page" type="text"
                                           config="TABLES['table_op_tab'].selectize_page_config" options="TABLES['table_op_tab'].selectize_page_options"
                                           ng-model="TABLES['table_op_tab'].selectize_page" name="TABLES['table_op_tab'].selectize_page" selectize>
                                </li>
                                <li><a href="javascript:void(0)" class="firstPage" ng-click="handleFirstPage('table_op_tab')"><i class="uk-icon-angle-double-left"></i></a></li>
                                <li><a href="javascript:void(0)" class="prevPage" ng-click="handlePreviousPage('table_op_tab')"><i class="uk-icon-angle-left"></i></a></li>
                                <li><span class="pageDisplay">1-20/50</span></li>
                                <li><a href="javascript:void(0)" class="nextPage" ng-click="handleNextPage('table_op_tab')"><i class="uk-icon-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)" class="lastPage"ng-click="handleLastPage('table_op_tab')"><i class="uk-icon-angle-double-right"></i></a></li>
                                <li data-uk-tooltip title="{{pageSize}}">
                                    <input ng-change="selectPageNumHandle('table_op_tab')" id="rd_selectize_pageNum" type="text"
                                           config="TABLES['table_op_tab'].selectize_pageNum_config" options="TABLES['table_op_tab'].selectize_pageNum_options"
                                           ng-model="TABLES['table_op_tab'].selectize_pageNum" name="TABLES['table_op_tab'].selectize_pageNum" selectize>
                                </li>
                            </ul>
                        </div>
                        <div class="ts_pager" id="table_op_detail_tab_pager" ng-show="checkShow == 2 && list_op_detail.length > 0">
                            <ul class="uk-pagination ts_pager">
                                <li ng-click="selectPageClickHandle()" data-uk-tooltip title="{{selectPage}}">
                                    <input ng-change="selectPageHandle('table_op_detail_tab')" id="detail_selectize_page" type="text"
                                           config="TABLES['table_op_detail_tab'].selectize_page_config" options="TABLES['table_op_detail_tab'].selectize_page_options"
                                           ng-model="TABLES['table_op_detail_tab'].selectize_page" name="TABLES['table_op_detail_tab'].selectize_page" selectize>
                                </li>
                                <li><a href="javascript:void(0)" class="firstPage" ng-click="handleFirstPage('table_op_detail_tab')"><i class="uk-icon-angle-double-left"></i></a></li>
                                <li><a href="javascript:void(0)" class="prevPage" ng-click="handlePreviousPage('table_op_detail_tab')"><i class="uk-icon-angle-left"></i></a></li>
                                <li><span class="pageDisplay">1-20/50</span></li>
                                <li><a href="javascript:void(0)" class="nextPage" ng-click="handleNextPage('table_op_detail_tab')"><i class="uk-icon-angle-right"></i></a></li>
                                <li><a href="javascript:void(0)" class="lastPage"ng-click="handleLastPage('table_op_detail_tab')"><i class="uk-icon-angle-double-right"></i></a></li>
                                <li data-uk-tooltip title="{{pageSize}}">
                                    <input ng-change="selectPageNumHandle('table_op_detail_tab')" id="detail_selectize_pageNum" type="text"
                                           config="TABLES['table_op_detail_tab'].selectize_pageNum_config" options="TABLES['table_op_detail_tab'].selectize_pageNum_options"
                                           ng-model="TABLES['table_op_detail_tab'].selectize_pageNum" name="TABLES['table_op_detail_tab'].selectize_pageNum" selectize>
                                </li>
                            </ul>
                        </div>-->

                    <!-- End of TABS -->

                </div>
            </div>
        </div>
    <!--</form>-->
</div>
<div class="uk-modal" id="validate_modal">
    <div class="uk-modal-dialog uk-modal-small">
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="global.common.confirmValidation"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>

        <span data-translate="transfer.messages.confirmMsg"></span>

        <div class="uk-modal-footer uk-text-right">
            <button ng-click="validate(false,true)" type="submit" class="md-btn md-btn-primary md-btn-small uk-modal-close"></i> <span
                    class="uk-text-bold" data-translate="global.common.apply"></span></button>
            <button class="md-btn md-btn-small uk-modal-close"><span class="uk-text-bold" data-translate="global.common.cancel"></span></button>
        </div>
    </div>
</div>

<div class="uk-modal" id="bigger_modal">
    <div class="uk-modal-dialog uk-modal-small">
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="global.common.confirmValidation"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>

        <span data-translate="transfer.messages.biggerMsg"></span>
        <ul>
            <li ng-repeat="p in biggerList">{{p}}</li>
        </ul>
        <span data-translate="transfer.messages.validatePicking"></span>
        <div class="uk-modal-footer uk-text-right">
            <button ng-click="validateBiggerCase(false,true)" type="submit" class="md-btn md-btn-primary md-btn-small uk-modal-close"></i> <span
                    class="uk-text-bold" data-translate="global.common.apply"></span></button>
            <button class="md-btn md-btn-small uk-modal-close"><span class="uk-text-bold" data-translate="global.common.cancel"></span></button>
        </div>
    </div>
</div>

<div class="uk-modal" id="backorder_modal">
    <div class="uk-modal-dialog uk-modal-small">
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="transfer.messages.createBO"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <!-- Destination Location -->
            <div class="uk-width-medium-1-2">
                <span data-translate="transfer.messages.backoderMsg1"></span>
            </div>
            <div class="uk-width-medium-1-2">
                <span data-translate="transfer.messages.backoderMsg2"></span>
            </div>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button  ng-click="validate(true,false)" class="md-btn md-btn-primary md-btn-small uk-modal-close"> <span
                    class="uk-text-bold" data-translate="transfer.messages.createBO"></span></button>
            <button data-uk-modal="{target:'#nobo_modal'}" class="md-btn md-btn-primary md-btn-small uk-modal-close"> <span
                    class="uk-text-bold" data-translate="transfer.messages.noBO" ></span></button>
            <a class="md-btn md-btn-small uk-modal-close"><span class="uk-text-bold" data-translate="global.common.cancel"></span></a>
        </div>
    </div>
</div>

<div class="uk-modal" id="nobo_modal">
    <div class="uk-modal-dialog uk-modal-small">
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="global.common.confirmValidation"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>

        <span data-translate="transfer.messages.noboMsg"></span>

        <div class="uk-modal-footer uk-text-right">
            <button ng-click="validate(false,false)" type="submit" class="md-btn md-btn-primary md-btn-small uk-modal-close"></i> <span
                    class="uk-text-bold" data-translate="global.common.apply"></span></button>
            <button class="md-btn md-btn-small uk-modal-close"><span class="uk-text-bold" data-translate="global.common.cancel"></span></button>
        </div>
    </div>
</div>
<button  data-uk-modal="{target:'#bigger_modal'}" id="biggerBtn" ng-show="false"></button>
<button  data-uk-modal="{target:'#backorder_modal'}" id="backorderBtn" ng-show="false"></button>
<button  data-uk-modal="{target:'#validate_modal'}"  id="confirmBtn"   ng-show="false"></button>
<button  data-uk-modal="{target:'#return_modal'}"    id="returnBtn"    ng-show="false"></button>
<button  data-uk-modal="{target:'#return_package_modal'}"    id="returnPackageBtn"    ng-show="false"></button>


<!--NEW VERSION MODAL FOR CREATE SCRAP-->
<!--<div ng-init="initCreateScrap()" ng-include src="'app/inventory/scrap/scrap.package.html'"></div>-->

<div class="uk-modal" id="scrap_package_modal" ng-init="initCreateScrap()">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 92% !important;">
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="scrap.detail.createScrap"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>

        <div class="uk-margin-bottom">
            <!--Partner & Scheduled Date-->
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-large-1-2">
                    <div class="parsley-row">
                        <label class="label-bold" data-translate="scrap.detail.partner"></label>
                        <input
                                ng-required="true"
                                config="cbxPartners.Config"
                                options="cbxPartners.Options"
                                position="bottom"
                                ng-model="newScrap.partnerId"
                                scope-controller="cbxPartners.Scope"
                                total-count="cbxPartnersInit.totalCount"
                                page="cbxPartnersInit.page"
                                per-page="cbxPartnersInit.perPage"
                                query-relate="cbxPartnersInit.queryRelate"
                                reset-scroll="cbxPartnersInit.resetScroll" selectize/>
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-width-large-1-2">
                    <div class="parsley-row">
                        <label class="label-bold" data-translate="scrap.detail.scheduledDate"></label>
                        <input class="md-input ng-isolate-scope md-input-processed"
                               type="text" data-uk-datepicker="{format:'DD/MM/YYYY'}"
                               md-input ng-model="newScrap.scheduledDate"
                               name="scheduledDate"
                               style="margin-top: 4px;">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
            </div>

            <!--Source Location & Source Document-->
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-large-1-2">
                    <div class="parsley-row">
                        <label class="label-bold" data-translate="scrap.table.owner"></label>
                        <input
                                ng-required="true"
                                config="cbxOwners.Config"
                                options="cbxOwners.Options"
                                position="bottom"
                                ng-model="newScrap.ownerId"
                                scope-controller="cbxOwners.Scope"
                                total-count="cbxOwnersInit.totalCount"
                                page="cbxOwnersInit.page"
                                per-page="cbxOwnersInit.perPage"
                                query-relate="cbxOwnersInit.queryRelate"
                                reset-scroll="cbxOwnersInit.resetScroll" selectize/>
                        <span class="md-input-bar "></span>
                    </div>
                </div>
                <div class="uk-width-large-1-2">
                    <div class="parsley-row">
                        <label class="label-bold" data-translate="scrap.detail.sourceDocument"><span class="req">*</span></label>
                        <input
                                data-parsley-required-message={{required_msg}}
                                data-parsley-maxlength-message={{maxLengthRule|translate}}
                                data-parsley-maxlength="255"
                                data-parsley-trigger="change"
                                required=""
                                md-input=""
                                ng-model="newScrap.sourceDocument"
                                id="sname" type="text" name="sname"
                                class="md-input ng-isolate-scope md-input-processed"
                                style="margin-top: 4px;">
                        <span class="md-input-bar "></span>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-top: 50px">

        <div class="uk-overflow-container uk-margin-bottom" style="min-height: 300px; margin-top: 50px">
            <table class="uk-table uk-table-align-vertical uk-table-nowrap"
                   id="table_op_tab">
                <thead>
                <tr>
                    <th class="pointerMouse boldHeader custom-cl-header-slarge"
                        data-priority="1"
                        ng-show="myColumnsShow[0]" data-translate="scrap.table.vnptPn">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[1]}}</i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-slarge"
                        data-priority="2"
                        ng-show="myColumnsShow[1]" data-translate="scrap.table.description"><i
                            class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[2]}}</i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-slarge"
                        data-priority="3"
                        ng-show="myColumnsShow[2]" data-translate="scrap.table.vnptManPn">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[3]}}</i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-slarge"
                        data-priority="3"
                        ng-show="myColumnsShow[2]" data-translate="scrap.table.manPn">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[3]}}</i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-slarge"
                        data-priority="4"
                        ng-show="myColumnsShow[3]" data-translate="scrap.table.lot"><i
                            class="material-icons md-20 rightCell"></i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-slarge"
                        data-priority="5"
                        ng-show="myColumnsShow[4]" data-translate="scrap.table.package">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[4]}}</i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-large"
                        data-priority="6"
                        ng-show="myColumnsShow[5]" data-translate="scrap.table.quantity">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[5]}}</i>
                    </th>
                    <!--<th class="pointerMouse boldHeader custom-cl-header-large"
                        data-priority="7"
                        ng-show="myColumnsShow[6]" data-translate="scrap.table.owner">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[6]}}</i>
                    </th>-->
                    <th class="pointerMouse boldHeader custom-cl-header-large"
                        data-priority="8"
                        ng-show="myColumnsShow[7]" data-translate="scrap.table.location">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[7]}}</i>
                    </th>
                    <th class="pointerMouse boldHeader custom-cl-header-large"
                        data-priority="9"
                        ng-show="myColumnsShow[8]" data-translate="scrap.table.scrapLocation">
                        <i class="material-icons md-20 rightCell">{{TABLES['table_op_tab'].param_sort_list[8]}}</i>
                    </th>
                    <th class="small_col"></th>
                    <th class="small_col"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,item) in listScraps track by key"
                        id="{{ 'scrapItem_' + key }}" ng-click="editItemScrap($event,key)"
                        on-last-repeat class="hoverRow">
                    <!--VNPT P/N-->
                    <td ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxVnptPns.Config"
                            options="cbxVnptPns.Options"
                            position="bottom"
                            ng-model="item.productId"
                            scope-controller="cbxVnptPns.Scope"
                            total-count="cbxVnptPnsInit.totalCount"
                            page="cbxVnptPnsInit.page"
                            per-page="cbxVnptPnsInit.perPage"
                            query-relate="cbxVnptPnsInit.queryRelate"
                            reset-scroll="cbxVnptPnsInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.product.name}}</td>

                    <!--Description-->
                    <td ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxDescs1.Config"
                            options="cbxDescs1.Options"
                            position="bottom"
                            ng-model="item.description"
                            scope-controller="cbxDescs1.Scope"
                            total-count="cbxDescs1Init.totalCount"
                            page="cbxDescs1Init.page"
                            per-page="cbxDescs1Init.perPage"
                            query-relate="cbxDescs1Init.queryRelate"
                            reset-scroll="cbxDescs1Init.resetScroll" selectize/>
                    </td>
                    <td class="custom-long-text" ng-show="!item.editable">{{item.product.description}}</td>

                    <!--VNPT Man PN-->
                    <td class="uk-text-left" ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxVnptManPns.Config"
                            options="cbxVnptManPns.Options"
                            position="bottom"
                            ng-model="item.vnptManPnId"
                            scope-controller="cbxVnptManPns.Scope"
                            total-count="cbxVnptManPnsInit.totalCount"
                            page="cbxVnptManPnsInit.page"
                            per-page="cbxVnptManPnsInit.perPage"
                            query-relate="cbxVnptManPnsInit.queryRelate"
                            reset-scroll="cbxVnptManPnsInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.vnptManPn.internalReference}}</td>

                    <!--ManPn-->
                    <td class="uk-text-left" ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxManPns.Config"
                            options="cbxManPns.Options"
                            position="bottom"
                            ng-model="item.manPnId"
                            scope-controller="cbxManPns.Scope"
                            total-count="cbxManPnsInit.totalCount"
                            page="cbxManPnsInit.page"
                            per-page="cbxManPnsInit.perPage"
                            query-relate="cbxManPnsInit.queryRelate"
                            reset-scroll="cbxManPnsInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.manPn.manufacturerPn}}</td>

                    <!--Lot-->
                    <td class="uk-text-left" ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxLots.Config"
                            options="cbxLots.Options"
                            position="bottom"
                            ng-model="item.lotId"
                            scope-controller="cbxLots.Scope"
                            total-count="cbxLotsInit.totalCount"
                            page="cbxLotsInit.page"
                            per-page="cbxLotsInit.perPage"
                            query-relate="cbxLotsInit.queryRelate"
                            reset-scroll="cbxLotsInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.lot.lotNumber}}</td>

                    <!--Package-->
                    <td class="uk-text-left" ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxPackages.Config"
                            options="cbxPackages.Options"
                            position="bottom"
                            ng-model="item.packageId"
                            scope-controller="cbxPackages.Scope"
                            total-count="cbxPackagesInit.totalCount"
                            page="cbxPackagesInit.page"
                            per-page="cbxPackagesInit.perPage"
                            query-relate="cbxPackagesInit.queryRelate"
                            reset-scroll="cbxPackagesInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.package.packageNumber}}</td>

                    <!--Quantity-->
                    <td ng-show="item.editable">
                        <input
                            data-parsley-required-message={{required_msg}}
                            data-parsley-maxlength-message={{maxLengthRule|translate}}
                            data-parsley-maxlength="255"
                            data-parsley-trigger="change"
                            required="true"
                            md-input=""
                            ng-model="item.quantity"
                            type="number" name="sname"
                            class="md-input ng-isolate-scope md-input-processed">
                    </td>
                    <td ng-show="!item.editable">{{item.quantity}}</td>

                    <!--Location-->
                    <td ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxLocations.Config"
                            options="cbxLocations.Options"
                            position="bottom"
                            ng-model="item.locationId"
                            scope-controller="cbxLocations.Scope"
                            total-count="cbxLocationsInit.totalCount"
                            page="cbxLocationsInit.page"
                            per-page="cbxLocationsInit.perPage"
                            query-relate="cbxLocationsInit.queryRelate"
                            reset-scroll="cbxLocationsInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.location.displayName}}</td>

                    <!--Scrap Location-->
                    <td ng-show="item.editable">
                        <input
                            ng-required="true"
                            config="cbxScrapLocations.Config"
                            options="cbxScrapLocations.Options"
                            position="bottom"
                            ng-model="item.scrapLocationId"
                            scope-controller="cbxScrapLocations.Scope"
                            total-count="cbxScrapLocationsInit.totalCount"
                            page="cbxScrapLocationsInit.page"
                            per-page="cbxScrapLocationsInit.perPage"
                            query-relate="cbxScrapLocationsInit.queryRelate"
                            reset-scroll="cbxScrapLocationsInit.resetScroll" selectize/>
                    </td>
                    <td ng-show="!item.editable">{{item.scrapLocation.displayName}}</td>

                    <!--Remove button-->
                    <td ng-show="!item.editable"><a  ng-click=removeScrapItem(key)><i class="md-icon material-icons">&#xE872;</i></a></td>
                </tr>
                </tbody>
                <tbody ng-show="showAddItemScrap">
                <form name="form_add_item_scrap" id="form_add_item_scrap" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
                    <tr class="hoverRow" id="row_add_item_scrap">
                        <!--VNPT P/N-->
                        <td>
                            <input
                                    ng-required="true"
                                    config="cbxVnptPns.Config"
                                    options="cbxVnptPns.Options"
                                    position="bottom"
                                    ng-model="newScrap.productId"
                                    scope-controller="cbxVnptPns.Scope"
                                    total-count="cbxVnptPnsInit.totalCount"
                                    page="cbxVnptPnsInit.page"
                                    per-page="cbxVnptPnsInit.perPage"
                                    query-relate="cbxVnptPnsInit.queryRelate"
                                    reset-scroll="cbxVnptPnsInit.resetScroll" selectize/>
                        </td>
                        <!-- Description -->
                        <td>
                            <input
                                    ng-required="true"
                                    config="cbxDescs1.Config"
                                    options="cbxDescs1.Options"
                                    position="bottom"
                                    ng-model="newScrap.description"
                                    scope-controller="cbxDescs1.Scope"
                                    total-count="cbxDescs1Init.totalCount"
                                    page="cbxDescs1Init.page"
                                    per-page="cbxDescs1Init.perPage"
                                    query-relate="cbxDescs1Init.queryRelate"
                                    reset-scroll="cbxDescs1Init.resetScroll" selectize/>
                        </td>
                        <!-- Vnpt Man P/N -->
                        <td class="uk-text-left">
                            <input
                                    ng-required="true"
                                    config="cbxVnptManPns.Config"
                                    options="cbxVnptManPns.Options"
                                    position="bottom"
                                    ng-model="newScrap.vnptManPnId"
                                    scope-controller="cbxVnptManPns.Scope"
                                    total-count="cbxVnptManPnsInit.totalCount"
                                    page="cbxVnptManPnsInit.page"
                                    per-page="cbxVnptManPnsInit.perPage"
                                    query-relate="cbxVnptManPnsInit.queryRelate"
                                    reset-scroll="cbxVnptManPnsInit.resetScroll" selectize/>
                        </td>
                        <!-- Man P/N -->
                        <td class="uk-text-left">
                            <input
                                    ng-required="true"
                                    config="cbxManPns.Config"
                                    options="cbxManPns.Options"
                                    position="bottom"
                                    ng-model="newScrap.manPnId"
                                    scope-controller="cbxManPns.Scope"
                                    total-count="cbxManPnsInit.totalCount"
                                    page="cbxManPnsInit.page"
                                    per-page="cbxManPnsInit.perPage"
                                    query-relate="cbxManPnsInit.queryRelate"
                                    reset-scroll="cbxManPnsInit.resetScroll" selectize/>
                        </td>
                        <!-- Lot -->
                        <td class="uk-text-left">
                            <input
                                    ng-required="true"
                                    config="cbxLots.Config"
                                    options="cbxLots.Options"
                                    position="bottom"
                                    ng-model="newScrap.lotId"
                                    scope-controller="cbxLots.Scope"
                                    total-count="cbxLotsInit.totalCount"
                                    page="cbxLotsInit.page"
                                    per-page="cbxLotsInit.perPage"
                                    query-relate="cbxLotsInit.queryRelate"
                                    reset-scroll="cbxLotsInit.resetScroll" selectize/>
                        </td>
                        <!-- Package -->
                        <td class="uk-text-left">
                            <input
                                    ng-required="true"
                                    config="cbxPackages.Config"
                                    options="cbxPackages.Options"
                                    position="bottom"
                                    ng-model="newScrap.packageId"
                                    scope-controller="cbxPackages.Scope"
                                    total-count="cbxPackagesInit.totalCount"
                                    page="cbxPackagesInit.page"
                                    per-page="cbxPackagesInit.perPage"
                                    query-relate="cbxPackagesInit.queryRelate"
                                    reset-scroll="cbxPackagesInit.resetScroll" selectize/>
                        </td>
                        <!-- Quantity -->
                        <td class="uk-text-left">
                            <input
                                    data-parsley-required-message={{required_msg}}
                                    data-parsley-maxlength-message={{maxLengthRule|translate}}
                                    data-parsley-maxlength="255"
                                    data-parsley-trigger="change"
                                    required="true"
                                    md-input=""
                                    ng-model="newScrap.quantity"
                                    type="number" name="sname"
                                    class="md-input ng-isolate-scope md-input-processed">
                        </td>
                        <!-- Location -->
                        <td>
                            <input
                                    ng-required="true"
                                    config="cbxLocations.Config"
                                    options="cbxLocations.Options"
                                    position="bottom"
                                    ng-model="newScrap.locationId"
                                    scope-controller="cbxLocations.Scope"
                                    total-count="cbxLocationsInit.totalCount"
                                    page="cbxLocationsInit.page"
                                    per-page="cbxLocationsInit.perPage"
                                    query-relate="cbxLocationsInit.queryRelate"
                                    reset-scroll="cbxLocationsInit.resetScroll" selectize/>
                        </td>
                        <!-- Scrap Location -->
                        <td>
                        <input
                                ng-required="true"
                                config="cbxScrapLocations.Config"
                                options="cbxScrapLocations.Options"
                                position="bottom"
                                ng-model="newScrap.scrapLocationId"
                                scope-controller="cbxScrapLocations.Scope"
                                total-count="cbxScrapLocationsInit.totalCount"
                                page="cbxScrapLocationsInit.page"
                                per-page="cbxScrapLocationsInit.perPage"
                                query-relate="cbxScrapLocationsInit.queryRelate"
                                reset-scroll="cbxScrapLocationsInit.resetScroll" selectize/>
                    </td>
                    </tr>
                </form>
                </tbody>
                <tbody ng-show="!showAddItemScrap">
                <tr>
                    <td colspan="1"><a data-translate="scrap.table.addAnItem" ng-click="addAnItemScrap()"></a></td>
                </tr>
                </tbody>
                <!--</form>-->
            </table>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button ng-click="createScrap()" type="submit" class="md-btn md-btn-primary md-btn-small"><span class="uk-text-bold" data-translate="scrap.button.done"></span></button>
            <a class="uk-modal-close md-btn  md-btn-default md-btn-small"><span class="uk-text-bold" data-translate="scrap.button.cancel"></span></a>
        </div>
    </div>
</div>

<!--START Return Modal-->

<div class="uk-modal" id="return_package_modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 98% !important;">
        <jhi-alert></jhi-alert>
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="transfer.common.returnModal"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <label class="label-bold">Location</label><br/>
                <hyperlink-attr-by-id inputid="source" url="urlLocationName" keyvalue="currentLocation" attr="attrDisplayName" hyperlink="urlCurrentLocationLink"></hyperlink-attr-by-id>
            </div>
            <div class="uk-width-medium-1-2">
                <label class="label-bold">Return Location</label><br/>
                <hyperlink-attr-by-id inputid="source" url="urlLocationName" keyvalue="returnLocation" attr="attrDisplayName" hyperlink="urlReturnLocationLink"></hyperlink-attr-by-id>
            </div>
        </div>

        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_return'}">
            <li class="uk-active" ><a href="#"><h4 class="heading_a" data-translate="transfer.common.Operation"></h4></a></li>
            <li ><a href="#"><h4 class="heading_a" data-translate="transfer.common.OperationDetail"></h4></a></li>
        </ul>

        <ul id="tabs_return" class="uk-switcher uk-margin">
            <!-- Operation Tab -->
            <li>
                <div ng-include src="'app/inventory/transfer/return/operation_return_tab.html'"></div>
            </li>

            <li>
                <div ng-include src="'app/inventory/transfer/return/operation_detail_return_tab.html'"></div>
            </li>

        </ul>

        <div class="uk-modal-footer uk-text-right">
            <button ng-click="handleReturnItem()" type="submit" class="md-btn md-btn-primary md-btn-small"></i> <span
                        class="uk-text-bold" data-translate="transfer.button.Return"></span></button>
            <button id="closeReturnForm" class="md-btn md-btn-small uk-modal-close"><span class="uk-text-bold" data-translate="global.common.cancel"></span></button>
        </div>
    </div>
</div>
<div class="uk-modal" id="return_result_modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="width: 98% !important;">
        <jhi-alert></jhi-alert>
        <div class="uk-modal-header">
            <span><span class="uk-modal-title" data-translate="transfer.common.returnFail"></span><a class="uk-modal-close" style="float: right;"><i class="material-icons">&#xE14C;</i></a></span>
            <hr>
        </div>
            <p data-translate="transfer.messages.notEnough"></p>
            <div class="uk-overflow-container uk-margin-bottom" style="min-height: 200px">
                <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" style="margin-bottom: -5px; table-layout: fixed;">
                    <thead>
                    <tr>
                        <th class="pointerMouse boldHeader" style="width: 20%" ><span data-translate="masterdata.common.Product"></span></th>
                        <th class="pointerMouse boldHeader" style="width: 20%" ><span>VNPT ManPN</span></th>
                        <th class="pointerMouse boldHeader" style="width: 20%" ><span>Man P/N</span></th>
                        <th class="pointerMouse boldHeader" style="width: 10%" ><span>Location</span></th>
                        <th class="pointerMouse boldHeader" style="width: 10%" ><span>Demand Quantity</span></th>
                        <th class="pointerMouse boldHeader" style="width: 10%" ><span>Available</span></th>
                        <!--<th style="width: 2%"></th>-->
                        <th style="width: 2%"></th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="item in quantInfo" on-last-repeat class="hoverRow" >
                        <td class="uk-text-left" style="overflow:hidden"><div><get-attr-by-id-tooltip url="urlProductName" value="item.productId" attr="attrProductName"></get-attr-by-id-tooltip></div></td>

                        <td class="uk-text-left" style="overflow:hidden"><div><get-attr-by-id-tooltip url="urlVNPTManPn" value="item.manufacturerId" attr="attrIR"></get-attr-by-id-tooltip></div></td>

                        <td class="uk-text-left" style="overflow:hidden"><div><get-attr-by-id-tooltip url="urlManPn" value="item.manPn" attr="attrManPn"></get-attr-by-id-tooltip></div></td>

                        <td class="uk-text-left" style="overflow:hidden"><div><get-attr-by-id-tooltip url="urlLocationName" value="item.srcLocationId" attr="attrDisplayName"></get-attr-by-id-tooltip></div></td>

                        <td  style="overflow:hidden; color: #e53935"><div>{{item.reserved}}</div></td>

                        <td  style="overflow:hidden; color: #7cb342"><div>{{item.available}}</div></td>

                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button  class="md-btn md-btn-small uk-modal-close"><span class="uk-text-bold" data-translate="global.common.cancel"></span></button>
            </div>

    </div>
</div>
<button  data-uk-modal="{target:'#return_result_modal'}" id="returnResult" ng-show="false"></button>

<!--END Return Modal-->

<!--START operation and detail modal -->
<div ng-include src="'app/inventory/transfer/operation_modal.html'"></div>
<div ng-include src="'app/inventory/transfer/operation_detail_modal.html'"></div>
<!--END  Modal-->